<h1>Agregar/editar <small>Titulo</small></h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button [routerLink]="['/view-todos']" class="btn btn-danger">
        <i class="fa fa-arrow-left">
          Regresar
        </i>
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <form (ngSubmit)="guardar(f)" #f="ngForm">
      <div class="form-group">
        <label>ID</label>
        <input type="text" name="id" class="form-control"disabled="disabled" [(ngModel)]="list.id" placeholder="ID">
        <small class="form-text text-muted">Este campo es automatico</small>
      </div>

      <div class="form-group">
        <label>Titulo</label>
        <input type="text" name="title" class="form-control" placeholder="Titulo"  [(ngModel)]="list.title" required>
      </div>

      <hr>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa">Guardar</i>
        </button>
      </div>
    </form>
  </div>
</div> 
