<h1>Listado</h1>
<div class="row">
  <div class="col text-right">
    <button [routerLink]="['/view-list']"  class="btn btn-warning">
        Lista Todos
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div class="class form-group">
      <div class="col-md-4">
        <label class="col-2 col-form-label">Filtro</label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="filtroObj.filtro" class="form-control" name="filtroObj" >
          <option>Seleccione el filtro</option>
          <option *ngFor="let filtro of filtros" [value]="filtro">{{ filtro }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <input type="text" name="filterList" placeholder="Buscar por titulo o id" class="class form-control" [(ngModel)]="filterList">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <button [routerLink]="['/create-item/add']"  class="btn btn-secondary">
      <i class="fa fa-plus">
        Agregar
      </i>
    </button>
  </div>
</div>

<table *ngIf="!loading && lists.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lists | filter: filterList : filtroObj; let i = index">
        <td>{{list.id}}</td>
        <td>{{list.title}}</td>
        <td>
          <button class="btn btn-info mr-1" [routerLink]="['/create-item', list.id ]">
            <i class="fa fa-pen"></i>
          </button>
  
          <button class="btn btn-danger mr-1" (click)="deleteList( list , i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>

      </tr>
    </tbody>
  </table>

  <div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">Espere un momento</p>
  </div>

  <div *ngIf="!loading && lists.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>