<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1>Listado</h1>
    <div class="row text-right">
      <div class="col">
        <button [routerLink]="['/view-todos']" class="btn btn-danger">
            <i class="fa fa-arrow-left">
              Regresar
            </i>
        </button>
      </div>
    </div>
    <hr>
    <div class="row" *ngIf="!loading">
        <div class="col">
          <div class="class form-group">
            <div class="col-md-4">
              <label class="col-2 col-form-label">Filtro</label>
            </div>
            <div class="col-md-4">
              <select [(ngModel)]="filtroObj.filtro" class="form-control" name="filtroObj" >
                <option>Seleccione el filtro</option>
                <option *ngFor="let filtro of filtros" [value]="filtro">{{ filtro }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <input type="text" name="filterList" placeholder="Buscar por titulo o id" class="class form-control" [(ngModel)]="filterList">
            </div>
          </div>
        </div>
    </div>
    <div class="class row" *ngIf="!loading">
      <div class="class col">
        <table class="table table-stripped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Titulo</th>
              </tr>
            </thead>
            <tbody *ngFor="let list of lists | filter:filterList : filtroObj">
              <tr>
                <td>{{ list.id}}</td>
                <td>{{ list.title}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">Espere un momento</p>
</div>